.mobile-body
  =render 'shared/header'
  .message-page
    .message-page__topic-title
      トピック：
      =@chat_room.topic.title
    .message-container-fixe-flame
      .message-container
        - @messages.each do |message|
          .message-container__message-box
            .message-box__top
              %a{href: user_index_path(id: message.user.id)}
                .message-box__avater
                  = image_tag message.user.image
              .message-box__info
                .message-box__send-user-name
                  %strong
                    = message.user.name
                    さん
                .message-box__send-time
                  = time_ago_in_words(message.created_at)+"前"
            .message-box__bottom
              .message
                = simple_format(message.content)
            .message-box__evaluation-flame
              %div{:id => "thanks_buttons_#{message.id}"}
                = render partial: 'thanks/thank', locals: { message: message, thanks: @thanks}
              -# - if m.thank.blank? && m.user_id != current_user.id && m.chat_room.topic_create_user_id != m.user_id
              -#   #thanks-btn
              -#     = link_to 'ありがとう', user_message_thanks_path(user_id: m.user_id, message_id: m.id), method: :post, remote: true
              -# - elsif m.thank.present? && m.user_id != current_user.id && m.chat_room.topic_create_user_id != m.user_id
              -#   #thanks-btn-aledy
              -#     = link_to '&#10003; ありがとう'.html_safe, user_message_thank_path(user_id: m.user_id, message_id: m.id), method: :delete, remote: true
              -# - if m.bad.blank? && m.user_id != current_user.id && m.chat_room.topic_create_user_id != m.user_id
              -#   #bad-btn
              -#     = link_to '不適切な返信', user_message_bads_path(user_id: m.user_id, message_id: m.id), method: :post, data: { confirm: '本当によろしいですか?' }, remote: true
              -# - elsif m.bad.present? && m.user_id != current_user.id && m.chat_room.topic_create_user_id != m.user_id
              -#   #bad-btn-aledy
              -#     = link_to '&#10003; 不適切な返信'.html_safe, user_message_bad_path(user_id: m.user_id, message_id: m.id), method: :delete, data: { confirm: '不適切な返信を解除します' }, remote: true

            - if message.user_id != current_user.id && message.chat_room.topic_create_user_id != message.user_id
              %p.thanks-info ※ 評価は相手からは見えません　
    .message-container__input
      .message-container__input__message
        = form_with model: @message, url: user_messages_path(user_id: current_user.id), local: true do |f|
          = f.text_area :content, placeholder: "メッセージを入力して下さい" , class: "message-container__input__message__area", autocomplete: "off"
          = f.hidden_field :chat_room_id, value: @chat_room.id
          -# .space-1
          = f.submit "送信",class:"post-btn"
  -# =render 'shared/footer'