.mobile-body
  =render 'shared/header'
  .message-page
    .message-page__topic-title
      トピック：
      =@chat_room.topic.title
    .message-container-fixe-flame
      .message-container
        - @messages.each do |message|
          .message-container__message-box
            .message-box__top
              %a{href: user_index_path(id: message.user.id)}
                .message-box__avater
                  = image_tag message.user.image
              .message-box__info
                .message-box__send-user-name
                  %strong
                    = message.user.name
                    さん
                .message-box__send-time
                  = time_ago_in_words(message.created_at)+"前"
            .message-box__bottom
              .message
                = simple_format(message.content)
            .message-box__evaluation-flame
              #thanks_button
                = render partial: 'thanks/thank', locals: { message: message }
              #bad_button
                = render partial: 'bads/bad', locals: { message: message }
            - if message.user_id != current_user.id && message.chat_room.topic_create_user_id != message.user_id
              %p.thanks-info ※ 評価は相手からは見えません　
    .message-container__input
      .message-container__input__message
        = form_with model: @message, url: user_messages_path(user_id: current_user.id), local: true do |f|
          = f.text_area :content, placeholder: "メッセージを入力して下さい" , class: "message-container__input__message__area", autocomplete: "off"
          = f.hidden_field :chat_room_id, value: @chat_room.id
          -# メッセージの受信者のidをUserChatRoomから自分以外で検索し代入。未読アテンション表示のための準備として
          = f.hidden_field :receive_user_id, value: @receive_user.user_id
          -# .space-1
          = f.submit "送信",class:"post-btn"
  -# =render 'shared/footer'