.space-y-sm4
.main-body
  .page
    .registration-box
      -# .ragistration-box__header
      .registration-box__bottom
        .label-box
          .space-y-sm2
          %p メールアドレスでログイン
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .label-box__inner
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email", class:"input-default"
            .label-box__inner
              = f.label :password
              %br/
              = f.password_field :password, autocomplete: "current-password", class:"input-default"
            - if devise_mapping.rememberable?
              .label-box__inner
                = f.check_box :remember_me
                = f.label :remember_me
            .label-box__inner
              = f.submit t('.sign_in'), class:"input-default"
          = render "devise/shared/links"
        .sns-registration-container
          .space-y-sm2
          %p SNSでログイン
          .space-y-sm4
          %label LINEログイン
          .btn-sm
          .space-y-sm4
          %label Twitterログイン
          .btn-sm
          .space-y-sm4
          %label Googleログイン
          .btn-sm
          .space-y-sm4
          %p アカウントを作成することにより、利用規約およびプライバシーポリシーに同意されたものとさせていただきます。