.mobile-body
  =render 'shared/header'
  .mobile-body-fixe-flame
    .mobile-body__inner
      = form_for @topic do |f|
        .topic-new-box
          .topic-new-box__inner
            = f.label "タイトル"
            %br/
            = f.text_area :title, autofocus: true, autocomplete: "off", class:"topic-input", placeholder: "タイトルを入力してください"
            %br/
          .topic-new-box__inner
            = f.label "カテゴリー"
            %br/
            = f.collection_select :category_id, @category, :id, :name, {prompt: "選択してください"}, class:"topic-category-input"
          .topic-new-box__inner
            = f.label "内容"
            %br/
            = f.text_area :text, autofocus: true, autocomplete: "off", class: "topic_text"
          .topic-new-box__inner#topic-new__post-btn-flame
            .post-btn
              = f.submit :投稿
  -# =render 'shared/footer'


