%p#notice= notice
%table
  %thead
    %tr
      %th Name
      %th Avater
      %th Category
      %th{colspan: "3"}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.avater
        %td= user.category_id
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', href="/users", method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New User', new_user_path
%div ------------------------------------------------------
%h1 DMサンプルアプリ
- if user_signed_in?
  %h2
    Hello #{current_user.email}
  - @users.each do |u|
    %p
      %a{href: "/users/#{u.id}"}
        = u.name
        さん
    %hr/
  = link_to "ログアウト", destroy_user_session_path, method: :delete
- else
  = link_to "ユーザーを登録する", new_user_registration_path
  %br/
  = link_to "ログインする", new_user_session_path
