.breadcrumbs-header-contener
  .breadcrumbs-header
    - breadcrumb :user_show
    = breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "

.main-body
  .message-page
    = render "shared/side-bar"

  .message-page-right
    .message-container

%h1 ユーザー詳細ページ

%h3= @user.name


%h3 いいねしている投稿
- @user.liked_products.each do |product|
  = product.user.name
  = product.introduction


= link_to 'Edit', edit_user_registration_path(@user)
|
= link_to 'Back', root_path