.mobile-body__headparts
  - flash.each do |key, value|
    = content_tag(:div, value, class: "#{key}", id: "#{key}")
  .mobile-body__header
    .mobile-body__header__service__name
      %a{href: root_path}
        %h4 soudan
    .mobile-body__header__title
      = header_title
    - if user_signed_in?
      .icon-frame
        .user_icon
          %a{href: user_mypage_path(current_user.id)}
            = image_tag @user.avater
      -# .question-btn-frame
      -#   .question-btn
      -#     %i.fas.fa-edit.fa-4x
      -#     %a{href: new_topic_path}相談する
    - else
      .nocolor-btn
        %a{href: new_user_session_path}ログイン
  .bread-crumb
    =render 'shared/breadcrumbs'
-# .header-hidden-space


