.main-body
  =render 'shared/header'
  - if @no_rooms
    .no_message
      #{@no_rooms}
  .mobile-body-fixe-flame
    .mobile-body__inner
      - @another_rooms.each do |e|
        .mail-box
          = link_to topic_chat_room_path(topic_id: e.chat_room.topic.id, id: e.chat_room.id) do
            .mail-box__inner
              .mail-box__inner__left
                .topic-show-box__inner__user-icon
                  = image_tag e.user.avater
              .mail-box__inner__right
                .mail-box__info
                  .mail-box__info__topic_title 相談トッピック名 : #{e.chat_room.topic.title}
                  .mail-box__info__send-user-name
                    %strong
                      = e.user.name
                      さん
                  .mail-box__info__send-time
                    = time_ago_in_words(e.chat_room.messages.last.created_at)+"前"
                    -# = l(e.chat_room.messages.last.created_at, format: :long)
                .mail-last-message
                  = e.chat_room.messages.last.content
  -# =render 'shared/footer'