.mobile-body
=render 'shared/header'
= devise_error_messages!

%section
  .title_background
    .page-header
      %h4
        パスワードを
        %br>/
        忘れてしまった方へ
    %p
      以下の欄に登録したメールアドレスをご入力ください。
      %br/
      パスワード再設定について、メールでご連絡いたします。
  .pass_new_background
    .pass_new
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        .email
          = f.label :email
          %br/
          %p.in_field= f.email_field :email, autofocus: true, autocomplete: "email"
        .actions
          %p.in_field= f.submit "パスワード再設定メールを送る",:class=>"form_login_btn col-xs-12"