.space-y-sm4
.main-body
  .page
    .registration-box
      .registration-box-inner
        .space-y-sm2
        .space-y-sm2
        %p 法人会員様　アカウント登録
        .space-y-sm2
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .label-box__inner
            = f.label "会社名"
            %br/
            = f.text_field :name, autocomplete: "off", class:"input-default"
          = f.fields_for :campany do |campany|
            .label-box__inner
              = campany.label "会社URL"
              %br/
              = campany.text_field :campany_url, autocomplete: "off", class:"input-default"
          .label-box__inner
            = f.label "業種カテゴリー"
            %br/
            = f.collection_select :category_id, Category.all, :id, :name, {prompt: "選択してください"}, class:"input-default"
          = f.fields_for :campany do |campany|
            .label-box__inner
              = campany.label "ご担当者様　姓（カナ）"
              %br/
              = campany.text_field :staff_last_name_kana, autocomplete: "off", class:"input-default"
            .label-box__inner
              = campany.label "ご担当者様　名（カナ）"
              %br/
              = campany.text_field :staff_first_name_kana, autocomplete: "off", class:"input-default"
          .label-box__inner
            = f.label "ご担当者様　メールアドレス"
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "off", class:"input-default"
          -# = f.fields_for :campany do |campany|
          -#   .label-box__inner
          -#     = campany.label :tel
          -#     %br/
          -#     = campany.telephone_field :tel, autocomplete: "off", class:"input-default"
          .label-box__inner
            = f.label :password
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            %br/
            = f.password_field :password, autocomplete: "off", class:"input-default"
          .label-box__inner
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation, autocomplete: "off", class:"input-default"
          .space-y-sm3
          .label-box__inner
            = f.submit t('.sign_up'), class:"post-btn"
        .space-y-sm4