= hidden_field_tag "action", params[:action]
= hidden_field_tag "route", "users"
= hidden_field_tag "idParams", current_user.id

.my-page
  =render 'shared/header'
  .space-10
  .my-page-flame
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .my-card
        .my-card__user-avater
          %label.my-card__user-avater__inner
            = image_tag @user.image
            = f.file_field :image, class: "image", id: "filename", multipart: :true
            %span.hidden_btn
            %i.material-icons#material-icons-edit
              settings
        .my-card__name-and-status
          .my-card__user-name
            = f.text_field :name, autofocus: true, autocomplete: "off", class:"edit-user-name"
          .my-card__status
            良い評価　
            %p #{@user.thanks.count}
          .my-card__status
            悪い評価　
            %p #{@user.bads.count}
      .my-page-flame__innner
        .label-box__inner
          = f.label " メールアドレス ", class:"label-box__label"
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "off", class:"input-default"
        .label-box__inner
          = f.label "変更パスワード", class:"label-box__label"
          %br/
          = f.password_field :password, autocomplete: "off", class:"input-default",placeholder: "半角英数字６文字以上"
        .label-box__inner
          = f.label "パスワード確認用 ", class:"label-box__label"
          %br/
          = f.password_field :password_confirmation, autocomplete: "off", class:"input-default"
        .label-box__inner
          = f.label :current_password, class:"label-box__label"
          = f.password_field :current_password, autocomplete: "off", class:"input-default"
          %br/
          %i#edit_text (変更を反映するには現在のパスワードを入力してください)
          %br/
        .label-box__inner
          .label-box__inner
            = f.submit "更新", class:"post-btn"
          .label-box__inner#delete-account
            %a= link_to 'アカウント削除', href="/users", method: :delete, data: { confirm: 'アカウントを削除しますか?' }
=render 'shared/footer-bar'
.overlay{:style => "display:none;"}
  .crop_modal
  .close_btn
  .select_icon_btn 決定
